@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    // background-color: #F7F7F7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    // border: 2px solid black;
}

.navbar {
    // border: 2px solid black;
    height: 5%;
    width: 100vw;
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    z-index: 900;
    border-bottom: 1px solid lightgray;
    background: white;
}

.links {
    display: flex;
    // border: 2px solid black;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    

    a {
        text-decoration: none;
        color: gray;

        &:hover{
            color: black;
        }
    }
}


#top {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1546307401-225bc045bb44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    background-position: center;
    
    h1, p {
        color: white;
    }

    .top-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-top-part {
            width: 100%;
            height: 70%;
            // border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-top: 100px;
        }

        .container-bottom-part {
            width: 100%;
            height: 30%;
            // border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

                i {
                    color: white;
                }

                i:hover {
                    color: black;
                }
        }
    }
     
    .avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px solid lightgray;
        animation: float 6s ease-in-out infinite;
    }
}

#middle {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    // border: 2px solid green;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items: center;
    

    .about {
        // border: 2px solid green;
        width: 80vw;
        height: 15vh;
        text-align: center;
        
    }

    .skills {
        // border: 2px solid green;
        width: 60vw;
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .box {
            // border: 2px solid green;
            width: 15vw;
            height: 30vh;
            box-shadow: 0 0 5px rgb(230,230,230);

            h3, p {
                text-align: center;
            }

            i {
                text-align: center;
                color: #3B638A;
            }

            .icon-container {
                display: flex;
                justify-content: center;
                margin-bottom: 35px;
            }
        }
    }

    .technologies {
        width: 80vw;
        height: 20vh;
        box-shadow: 0 0 5px rgb(230,230,230);

        h3 {
            text-align: center;
        }
    }
}

#bottom {
    width: 100vw;
    height: 100vh;
    // border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main-work {
        width: 90vw;
        height: 80vh;
        // border: 2px solid blue;

        .work-top {
            width: 90vw;
            height: 40vh;
            border-bottom: 1px solid lightgray ;
            display: flex;
            padding-bottom: 6px;

            .work-sect1 {
                width: 45vw;
                // border-right: 1px solid lightgray;
                display: flex;

                .image-area {
                    height: 40vh;
                    width: 70%;
                    // border: 2px solid red;
                    display: flex;
                    flex-direction: column;
                    
                    .img-top {
                        height: 50%;
                        width: 100%;
                        // border: 2px solid black;
                        display: flex;
                        
                        .img-top-left {
                            height: 100%;
                            width: 50%;
                            box-shadow: 0 0 5px rgb(230,230,230);
                        }

                    }

                    .img-bottom {
                        height: 50%;
                        width: 100%;
                        // border: 2px solid black;
                        display: flex;
                        flex-direction: row-reverse;

                        .img-bottom-right {
                            height: 100%;
                            width: 50%;
                            box-shadow: 0 0 5px rgb(230,230,230);
                           }
                    }
                }

                .description {
                    height: 35vh;
                    width: 30%;
                    box-shadow: 0 0 5px rgb(230,230,230);
                    margin: 20px;
                    // border: 2px solid red;
                    
                    p, h3 {
                        text-align: center;
                    }        
                }
            }

            .work-sect2 {
                width: 45vw;
                display: flex;

                .image-area-2 {
                    height: 40vh;
                    width: 70%;
                    // border: 2px solid yellow;
                    display: flex;
                    flex-direction: column;


                    .img-top-2 {
                        height: 50%;
                        width: 100%;
                        // border: 2px solid black;
                        display: flex;
                        flex-direction: row-reverse;
                        
                        
                        .img-top-right {
                            height: 100%;
                            width: 50%;
                            box-shadow: 0 0 5px rgb(230,230,230);
                            // border: 2px solid green;
                            // background-image: url("https://images.unsplash.com/photo-1577800351051-ca84c38a4152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
                        }

                    }

                    .img-bottom-2 {
                        height: 50%;
                        width: 100%;
                        display: flex;

                        .img-bottom-right {
                            height: 100%;
                            width: 50%;
                            box-shadow: 0 0 5px rgb(230,230,230);
                        }
                    }
                }

                .description {
                    height: 35vh;
                    width: 30%;
                    box-shadow: 0 0 5px rgb(230,230,230);
                    

                    margin: 20px;
                    // border: 2px solid red;
                    
                    p, h3 {
                        text-align: center;
                    }    
                }
            }
        }

        .work-bottom {
            width: 90vw;
            height: 40vh;
            // border: 2px solid green;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding-bottom: 3px;

            .work-bottom-container {
                // border: 2px solid red;
                width: 80%;
                height: 90%;
                margin: 0;
                display: flex;
                justify-content: space-between ;
                align-items: center;

                .mob-description {
                    height: 95%;
                    width: 30%;
                    // border: 2px solid black;
                    box-shadow: 0 0 5px rgb(230,230,230);

                    p, h3 {
                        text-align: center;
                    }
                }
            }

            .mob-image {
                width: 15%;
                height: 95%;
                // border: 2px solid black;
                box-shadow: 0 0 5px rgb(230,230,230);
                object-fit: cover;
            }
        }
    }
}

.fab, .fas {
    font-size: 60px;
    text-decoration: none;
    // color: grey;
}

