@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-display {
  visibility: visible !important;
}

.menu {
  visibility: hidden;
  background: white;
  position: fixed;
  right: 0;
  top: 5%;
  padding: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: lightgray;
}

.menu div {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: gray;
  margin-bottom: 30px;
}

.menu a:hover {
  color: black;
}

.navbar {
  height: 5%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

#menuButton {
  visibility: hidden;
  height: 20px;
  width: 20px;
  font-size: 30px;
  margin-right: 15px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
}

.links a:hover {
  color: black;
}

#top {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1546307401-225bc045bb44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
}

#top h1, #top h2, #top p {
  color: white;
}

#top .top-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top .top-container .container-top-part {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

#top .top-container .container-top-part p {
  text-align: center;
}

#top .top-container .container-bottom-part {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top .top-container .container-bottom-part i {
  color: white;
}

#top .top-container .container-bottom-part i:hover {
  color: black;
}

#top .avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid lightgray;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#middle {
  padding-top: 41px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle .about {
  width: 80vw;
  text-align: center;
}

#middle .skills {
  width: 60vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle .skills .box {
  width: 15vw;
  height: 266px;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#middle .skills .box h3, #middle .skills .box p {
  text-align: center;
}

#middle .skills .box i {
  text-align: center;
  color: #3B638A;
}

#middle .skills .box .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

#middle .technologies {
  width: 80vw;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  padding-bottom: 20px;
}

#middle .technologies .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#middle .technologies h2 {
  text-align: center;
}

#bottom {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottom .main-work {
  width: 90vw;
  height: 80vh;
}

#bottom .main-work .work-top {
  width: 90vw;
  height: 40vh;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
  margin-bottom: 15px;
}

#bottom .main-work .work-top .work-sect1 {
  width: 45vw;
  border-right: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom .main-work .work-top .work-sect1 .image-area {
  height: 40vh;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottom .main-work .work-top .work-sect1 .image-area .img-top {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom .main-work .work-top .work-sect1 .image-area .img-top .img-top-left {
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-top .work-sect1 .image-area .img-bottom {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#bottom .main-work .work-top .work-sect1 .image-area .img-bottom .img-bottom-right {
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-top .work-sect1 .description {
  width: 30%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  margin: 0 20px;
}

#bottom .main-work .work-top .work-sect1 .description p, #bottom .main-work .work-top .work-sect1 .description h3 {
  text-align: center;
}

#bottom .main-work .work-top .work-sect2 {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom .main-work .work-top .work-sect2 .image-area-2 {
  height: 40vh;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottom .main-work .work-top .work-sect2 .image-area-2 .img-top-2 {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#bottom .main-work .work-top .work-sect2 .image-area-2 .img-top-2 .img-top-right {
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-top .work-sect2 .image-area-2 .img-bottom-2 {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom .main-work .work-top .work-sect2 .image-area-2 .img-bottom-2 .img-bottom-right {
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-top .work-sect2 .description {
  width: 30%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  margin: 20px;
}

#bottom .main-work .work-top .work-sect2 .description p, #bottom .main-work .work-top .work-sect2 .description h3 {
  text-align: center;
}

#bottom .main-work .work-bottom {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom .main-work .work-bottom .work-bottom-container {
  width: 80%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom .main-work .work-bottom .work-bottom-container .mob-description {
  width: 60%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-bottom .work-bottom-container .mob-description p, #bottom .main-work .work-bottom .work-bottom-container .mob-description h3 {
  text-align: center;
}

#bottom .main-work .work-bottom .work-bottom-container .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#bottom .main-work .work-bottom .work-bottom-container .images .mob-image {
  width: 15%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

#bottom .main-work .work-bottom .mob-image {
  width: 49%;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  -o-object-fit: cover;
     object-fit: cover;
}

.fab, .fas, .far {
  font-size: 50px;
  text-decoration: none;
  margin: 7px;
}

@media only screen and (max-width: 1024px) {
  #menuButton {
    visibility: visible;
    height: 20px;
    width: 20px;
  }
  .links {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links a {
    text-decoration: none;
    color: gray;
  }
  .links a:hover {
    color: black;
  }
  #middle {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #middle h2 {
    margin: 0;
  }
  #middle .about {
    width: 100vw;
    text-align: center;
    margin-bottom: 100px;
  }
  #middle .skills {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }
  #middle .skills .box {
    width: 100vw;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
  }
  #middle .skills .box h3, #middle .skills .box p {
    text-align: center;
    margin: 0;
  }
  #middle .skills .box i {
    text-align: center;
    color: #3B638A;
    font-size: 40px;
  }
  #middle .skills .box .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  #middle .technologies {
    display: none;
    width: 100vw;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #middle .technologies .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #middle .technologies h3 {
    text-align: center;
  }
  #bottom {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bottom .main-work {
    width: 90vw;
    height: 80vh;
  }
  #bottom .main-work .work-top {
    width: 90vw;
    height: 40vh;
    border-bottom: 1px solid lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 14px;
  }
  #bottom .main-work .work-top .work-sect1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  #bottom .main-work .work-top .work-sect1 .image-area {
    height: 40vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bottom .main-work .work-top .work-sect1 .image-area .img-top {
    height: 0;
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom .main-work .work-top .work-sect1 .image-area .img-top .img-top-left {
    height: 100%;
    width: 50%;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #bottom .main-work .work-top .work-sect1 .image-area .img-bottom {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #bottom .main-work .work-top .work-sect1 .image-area .img-bottom .img-bottom-right {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #bottom .main-work .work-top .work-sect1 .description {
    width: 100%;
    margin: 0;
  }
  #bottom .main-work .work-top .work-sect1 .description p, #bottom .main-work .work-top .work-sect1 .description h3 {
    text-align: center;
  }
  #bottom .main-work .work-top .work-sect2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bottom .main-work .work-top .work-sect2 .image-area-2 {
    height: 40vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bottom .main-work .work-top .work-sect2 .image-area-2 .img-top-2 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #bottom .main-work .work-top .work-sect2 .image-area-2 .img-top-2 .img-top-right {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #bottom .main-work .work-top .work-sect2 .image-area-2 .img-bottom-2 {
    height: 0;
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom .main-work .work-top .work-sect2 .image-area-2 .img-bottom-2 .img-bottom-right {
    height: 0;
    width: 0;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #bottom .main-work .work-top .work-sect2 .description {
    width: 100%;
    margin: 0;
  }
  #bottom .main-work .work-top .work-sect2 .description p, #bottom .main-work .work-top .work-sect2 .description h3 {
    text-align: center;
  }
  #bottom .main-work .work-bottom {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 664px;
  }
  #bottom .main-work .work-bottom .work-bottom-container {
    width: 100%;
    height: 90%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #bottom .main-work .work-bottom .work-bottom-container .mob-description {
    width: 100%;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
  }
  #bottom .main-work .work-bottom .work-bottom-container .mob-description p, #bottom .main-work .work-bottom .work-bottom-container .mob-description h3 {
    text-align: center;
  }
  #bottom .main-work .work-bottom .work-bottom-container .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom .main-work .work-bottom .work-bottom-container .images .mob-image {
    width: 49%;
    -webkit-box-shadow: 0 0 5px #e6e6e6;
            box-shadow: 0 0 5px #e6e6e6;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.desktop-only {
  display: none;
}

@media (min-width: 900px) {
  .desktop-only {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */